<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Burlington Web Application Group</title>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' -%>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' -%>
  <!--[if IE]>
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' -%>
  <![endif]-->
  <%= javascript_include_tag 'jquery-1.4.2.min', 'rails', 'jquery.openid', 'valtastic/jquery.valtastic', :cache => :jquery %>
  <%= javascript_include_tag 'forms', :cache => :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="site">
    <header role="banner">
      <a href="/" id="logo"><img src="/images/bwag-logo.png" alt="Burlington Web Application Group"></a>
      <nav>
        <ul>
          <li><%= link_to 'Events', events_path %></li>
          <li><%= link_to 'Members', users_path %></li>
          <li><a href=''>Forums</a></li>
          <li><a href=''>Reviews</a></li>
          
          <% if current_user %>
            <li class='session_management'><%= link_to 'Sign Out', sign_out_path %></li>
            <li class='session_management'> class='session_management'<%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
          <% else %>
            <li class='session_management'><%= link_to 'Sign In', sign_in_path %></li>
            <li class='session_management'><%= link_to 'Sign Up', sign_up_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    
    <%= display_flash %>
    
    <div id="main">
      <%= yield %>
    </div>
    <aside>
      <%= yield :aside %>
    </aside>
    <footer>
      <p>Site code avialable on <a href='http://github.com/alanpeabody/BWAG'>Github</a> under the <a href='http://creativecommons.org/licenses/MIT/'>MIT License</a>. Cloud Hosting by <a href='http://heroku.com/'>Heroku</a>.</p>
      <p>Copyright 2010 Burlington Web Application Group.</p>
    </footer>
  </div>
</body>
</html>
