<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Burlington Web Application Group</title>
  <%= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection' -%>
  <%= stylesheet_link_tag 'compiled/print.css', :media => 'print' -%>
  <!--[if IE]>
    <%= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection' -%>
  <![endif]-->
  
  <%= javascript_include_tag "jquery-1.4.2.min", "jquery.openid", :cache => :jquery %>
  <%= javascript_include_tag "openid", :cache => :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="site">
    <header role="banner">
      <a href="/" id="logo"><img src="/images/bwag-logo.png" alt="Burlington Web Application Group"></a>
      <ul id="login">
        <% if current_user %>
          <li><%= link_to "Sign Out", sign_out_path %></li>
          <li><%= link_to "Edit Profile", "edit_user_path(current_user)" %></li>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
          <li><%= link_to "Sign Up", sign_up_path %></li>
        <% end %>
      </ul>
    </header>
    <nav>
      <ul>
        <li>Events</li>
        <li>Members</li>
        <li>Forums</li>
        <li>Reviews</li>
      </ul>
    </nav>
    <div id="main">
      <%= yield %>
    </div>
    <aside>
      <%= yield :aside %>
    </aside>
    <footer>
      <p>Content and Code &copy; Copyright 2010 Burlington Web Application Group.</p>
      <p>Site code avialable on Github under the MIT license. Hosting by Heroku.</p>
    </footer>
  </div>
</body>
</html>
